*{
    align-items: center;
}
body{
    background: black;
    align-items: center;
   
}
p{
    top: 0;
    left: 0;
    font-family: sans-serif;
    text-align: center;
    margin-top: 175px;
    padding-left: 5px;
    color: red;
    font-size: 500%;

}
p span{
color:white;
text-align: center;
font-size:77px;

}
img{
    background-size: cover;
    height: calc(100vh - 350px);
    margin-bottom: 0%;
    margin-left: 15px;
    padding-left: 15px;
   
    left: 0;
    background-repeat: no-repeat;
}